/* Estilo general para el navbar */
.navbar {
  background-color: #2c2f33;
  /* Fondo gris oscuro por defecto */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
}

/* Estilo para la marca (logo) */
.navbar-brand {
  color: #d4d4dc;
  /* Color plateado claro */
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

/* Efecto hover para la marca */
.navbar-brand:hover {
  color: #ffffff;
  /* Color blanco al pasar el ratón */
}

/* Estilo para el icono de hamburguesa en dispositivos móviles */
.navbar-toggler-icon {
  background-color: #d4d4dc;
  /* Color del ícono */
  border-radius: 2px;
  width: 22px;
  height: 2px;
  display: block;
  margin: 5px auto;
}

/* Estilos para el menú de navegación */
.navbar-nav {
  display: flex;
  /* Alinea los elementos horizontalmente */
  justify-content: space-between;
  /* Asegura que las opciones estén separadas */
  list-style: none;
  /* Elimina viñetas */
  margin-bottom: 0;
  /* Elimina margen inferior */
  padding-left: 0;
  /* Elimina margen izquierdo */
}

/* Estilo para cada enlace dentro del menú */
.navbar-nav .nav-link {
  color: #ffffff;
  /* Color gris para los enlaces */
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  /* Elimina subrayado */
  transition: all 0.3s ease;
  border-radius: 5px;
  /* Bordes redondeados */
}

/* Efecto hover para los enlaces */
.navbar-nav .nav-link:hover {
  color: #ffffff;
  /* Color blanco en hover */
  background-color: #3a3d42;
  /* Fondo gris más oscuro en hover */
}

/* Sección de países con un fondo café claro */
.navbar-countries {
  background-color: #6f4f37;
  /* Fondo café claro */
}

/* Estilos para la versión móvil */
@media (max-width: 992px) {

  /* Asegura que los enlaces en móviles estén alineados verticalmente */
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    /* Centra los elementos */
  }

  /* Aumenta el espaciado entre los enlaces en pantallas pequeñas */
  .navbar-nav .nav-link {
    margin: 10px 0;
    width: 100%;
    /* Hace que los enlaces ocupen el 100% del ancho disponible */
    text-align: center;
    /* Centra el texto en los enlaces */
  }

  /* Ajusta el tamaño del botón de hamburguesa en pantallas pequeñas */
  .navbar-toggler {
    border-color: #d4d4dc;
    /* Borde gris claro para el botón */
  }
}

/* Estilos para cuando el menú está expandido */
.navbar-collapse {
  flex-grow: 0;
  align-items: center;
}

/* Estilo para el router-outlet */
router-outlet {
  margin-top: 20px;
  /* Da un pequeño espacio debajo del navbar */
}

/* Estilos generales para la tabla */
.table-responsive {
  max-width: 90%;
  margin: 0 auto;
  /* Centra la tabla horizontalmente */
  padding: 15px 0;
  /* Añade algo de espacio arriba y abajo */
}

.table {
  background-color: #ffffff;
  /* Fondo blanco para la tabla */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  border-radius: 8px;
  /* Bordes redondeados */
  margin-top: 20px;
  /* Espacio superior */
  width: 100%;
  /* Hace que la tabla ocupe todo el ancho disponible */
  table-layout: fixed;
  /* Asegura que las celdas tengan un tamaño fijo */
}

.table th,
.table td {
  color: #495057;
  /* Color gris oscuro para el texto */
  font-weight: bold;
  /* Asegura que los textos sean destacados */
  padding: 12px;
  /* Espaciado dentro de las celdas */
  text-align: center;
  /* Centra el texto dentro de las celdas */
}

.table th {
  background-color: #f5e2b373;
  /* Fondo oscuro para los encabezados */
  color: #000000;
  /* Texto blanco en los encabezados */
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
  /* Fondo gris claro al pasar el mouse */
}

.table-bordered {
  border: 1px solid #dee2e6;
  /* Borde sutil alrededor de la tabla */
  border-radius: 8px;
  /* Bordes redondeados */
}

/* Estilos para los botones de */
button {
  font-size: 0.9rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  font-weight: 600;
  width: 200px;
  height: 40px;
  color: #000;
  background-color: #f4f6f9;
}

button:hover {
  background-color: #ffffff;
  /* Fondo oscuro en el hover del botón */
  color: #000000;
  /* Texto blanco cuando se pasa el mouse */
}

.d-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
  padding: 5px;
}

/* Estilos responsivos para la tabla */
@media (max-width: 768px) {
  .table-responsive {
    max-width: 100%;
    /* La tabla ocupa todo el ancho en pantallas más pequeñas */
  }

  .table {
    font-size: 0.9rem;
    /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }
}
